//===============================================
// preseting all box sizings to border-box
//===============================================
*,
:before,
:after
{
  @include box-sizing(border-box);
  outline: none;
}
* html .clearfix
{
 /* IE6 */
 zoom: 1;
}
*:first-child+html.clearfix
{
 /* IE7 */
 zoom: 1;
}

.hidden
{
  display: none !important;
}