@import "reset";
@import "compass/css3";
@import "compass/css3/animation";
@import "variables";
@import "base";


//===============================================
// Layout
//===============================================
.lep-slider-wrapper
{
    position: relative;
    overflow: hidden;
    .slides-container
    {
        position: relative;
        height: 100%;
        width: auto;
        @include transition(inherit);
        z-index: 1;
    }
    // intiial strucure for fade animation
    &.leps-type-fade
    {
        & > .slides-container
        {
            // @todo direction needed
            & > .slide-item
            {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }
    // intiial strucure for slide animation
    &.leps-type-fade
    {
        & > .slides-container
        {
            // @todo direction needed
            & > .slide-item
            {
                float: left;
                height: 100%;
                opacity: 0;
                @include transition(inherit);
                &.leps-active-slide
                {
                    opacity: 1;
                    z-index: 9999;
                }
            }
        }
    }

    /**
     *
     * Navigator
     *
     **/
    .leps-navigator
    {
        position: absolute;
        left: 50%;
        bottom: 20px;
        @include transform( translateX(-50%) );
        display: block;
        height: 30px;
        border-radius: 15px;
        background-color: rgba(0,0,0,0.1);
        z-index: 9999;
        & > li
        {
            display: block;
            width: 20px;
            height: 20px;
            background-color: rgba(0,0,0,0.2);
            float: left;
            border-radius: 10px;
            margin: 5px;
            a
            {
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            &.active
            {
                background-color: rgba(255,255,255,0.2);
                cursor: auto;
            }
        }

    }

    /**
     *
     * Directors
     *
     **/
     .leps-directives
     {
        font-family: sans-serif;
        color: rgba(255, 255, 255, 0.7);
        li
        {
            position: absolute;
            display: block;
            width: 70px;
            height: 60px;
            background: rgba(0,0,0,0.1);
            z-index: 9999;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            a
            {
                display: block;
                background-color: $shadow-color;
                height: 40px;
                width: 60px;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
            }
            &.leps-next
            {
                right: 0;
                top: 50%;
                @include transform( translateY(-50%) );
                border-radius: 20px 0 0 20px;
                a
                {
                    border-radius: 10px 0 0 10px;
                    margin: 10px 0 0 10px;
                }
            }
            &.leps-prev
            {
                left: 0;
                top: 50%;
                @include transform( translateY(-50%) );
                border-radius: 0 20px 20px 0;
                a
                {
                    border-radius: 0 10px 10px 0;
                    margin: 10px 10px 0 0;
                }
            }
            &.leps-inactive
            {
                pointer-events: none;
                color: $shadow-color;
            }
        }
     }
}
