html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}
#lep-slider
{
    width: 100%;
    height: 100%;
}
#lep-slider div
{
    height: 100%;
    overflow: hidden;
    font-family: monospace;
}
#lep-slider div h1
{
    font-size: 42px;
    text-align: center;
    line-height: 42px;
    padding-top: 30px;
}
#lep-slider div h2
{
    font-size: 28px;
    text-align: center;
}
#lep-slider ul.demos
{
    display: inline-block;
    font-size: 18px;
    color: #09c;
    padding: 20px;
}
#lep-slider ul.demos li
{
    display: inline-block;
}
#lep-slider div img
{
    width: 100%;
    height: auto;
}

#second-slider
{
    width: 640px;
    height: 640px !important;
    margin: 0 auto;
}
.color-1
{
    background-color: #aaa;
}
.color-2
{
    background-color: #999;
}
.color-3
{
    background-color: #ddd;
}
.color-4
{
    background-color: #eee;
}